---
- become: yes
  become_user: root
  with_items: '{{ powershell_trust | default([]) }}'
  name: setting installation policies for PS repositories
  command: '{{ powershell_install_exe }} -Command "Set-PSRepository -Name {{ item.Name }} -InstallationPolicy {{ item.InstallationPolicy }}"'
- become: yes
  become_user: root
  with_items: '{{ powershell_install_modules | default([]) }}'
  name: installing PS modules
  command: '{{ powershell_install_exe }} -Command "Install-Module {{ item.Name }} -Scope {{ item.Scope }}"'
